@font-face {
    font-family: AlegreyaSC-Medium;
    font-weight: 400;
    src: url('/fonts/AlegreyaSC-Medium.ttf');
}
@font-face {
    font-family: NotoSans-Italic;
    src: url('/fonts/NotoSans-Italic.ttf');
}
@font-face {
    font-family: Urbanist-Regular;
    src: url('/fonts/Urbanist-Regular.ttf');
}