@use "./fonts";
.arm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;

    .cards {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .player_id {
        font-family: "Urbanist-Regular", sans-serif;
        font-weight: bold;
        font-size: 18px;
    }
    .activity {
        color: green;
    }
}