#game {
    display: flex;
    padding: 25px;
    flex-direction: row;
    height: 90vh;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;

    #table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        order: 2;
        height: 25vh;
        gap: 25px;

        #cards {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
        #defend-cards {
            position: absolute;
            display: flex;
            gap: 55px;
            flex-direction: row;
            margin-top: -80px;
            margin-left: 90px;
        }
    }
}