@use "./fonts";
@use './vars' as *;

@keyframes fade-in {
    from {
        transform: translateX(-100vw);
    }
}

#main_page {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    animation-name: fade-in;
    animation-duration: 0.3s;

    h1 {
        font-size: 60px;
        font-family: "Urbanist-Regular", sans-serif;
    }
    h2 {
        font-size: 30px;
        font-family: "Urbanist-Regular", sans-serif;
        font-weight: 300;
        margin-top: -20px;
    }
    button {
        width: 350px;
        height: 70px;
        padding: 15px;
        text-align: center;
        background-color: $button-color;
        border-radius: 25px;
        transition: 300ms ease-in-out;

        font-size: 30px;
        font-weight: 500;
        color: $button-text-color;

        &:hover {
            background-color: $hover-button-color;
            transform: translateY(-2px);
        }
    }
}
